<div class="main-container">
    <div class="left-container float-left">
      <div class="main-content float-left">
        <img [src]="storkNestSwingCoWOutNetUrl" alt="">
        <h2 class="font-mono text-2xl">Люлка щъркелово гнездо 60 см - цветна (без мрежа)</h2>
        <h3 class="float-right font-roboto text-2xl">Цена 200 лева</h3>
      </div>
      <div class="description-product float-left">
        <h2>Описание на продукта</h2>
        <p>Обяснителен текст. Обяснителен текст.Обяснителен текст.Обяснителен текст.Обяснителен текст.Обяснителен текст.Обяснителен текст.</p>
  
      </div>
  
    </div>
    <div class="right-container float-right">
      <div class="similar-productOne float-left">
        <a routerLink="/storknestswing60cowithnet">
        <img [src]="storkNestSwing60CoWithNetUrl" alt=""  width="150px">
        <h3 class="font-mono text-lg">Люлка щъркелово гнездо 60 см - цветна (с мрежа)</h3>
        <h2 class="float-right font-roboto text-lg">Цена: 200 лева</h2>
        </a>        
      </div>
      <div class="similar-productTwo float-left">
        <a routerLink="/storknestswing90cowoutnet">
        <img [src]="storkNestSwing90CoWOutNetUrl" alt=""  width="150px">
        <h3 class="font-mono text-lg">Люлка щъркелово гнездо 90 см -цветна (без мрежа)</h3>
        <h2 class="float-right font-mono text-lg">Цена: 200 лева</h2>
        </a>
      </div>
      <div class="similar-productThree float-left">
        <a routerLink="/storknestswing90cowithnet">
        <img [src]="storkNestSwing90CoWithNetUrl" alt="" width="150px">
        <h3 class="font-mono text-lg">Люлка щъркелово гнездо 90 см - цветна (с мрежа)</h3>
        <h2 class="float-right font-mono text-lg">Цена: 200 лева</h2>
        </a>
      </div>
      <div class="similar-productFour float-left">
        <a routerLink="/storknestswing90cofinemesh">
        <img [src]="storkNestSwing90CoFineMeshUrl" alt="" width="150px">
         <h3 class="font-mono text-lg">Люлка щъркелово гнездо 90 см - цветна фина мрежа</h3>
         <h2 class="float-right font-mono text-lg">Цена 200 лева.</h2>
         </a>
      </div>
  
    </div>
  </div>
  <footer>
    <div id="footer-text">
        <div id="footer-h2">
            <h2 class="text-3xl">Координати за заявка</h2>

        </div>
    </div>
</footer>
<router-outlet></router-outlet>

