<div class="main-container">
    <div class="left-container float-left">
      <div class="main-content float-left">
        <img [src]="nestswing125GiantUrl" alt="">
        <h2>Люлка за щъркелово гнездо 125 см - цветна (без мрежа) ГИГАНТ</h2>
  
      </div>
      <div class="description-product float-left">
        <h2>Описание на продукта</h2>
        <p>Обяснителен текст. Обяснителен текст.Обяснителен текст.Обяснителен текст.Обяснителен текст.Обяснителен текст.Обяснителен текст.</p>
  
      </div>
  
    </div>
    <div class="right-container float-right">
      <div class="similar-productOne float-left">
        <img [src]="storkNestSwing125GiantUrl" alt=""  width="150px">
        <h3>Люлка за щъркелово гнездо 125 см - цветна (с мрежа) ГИГАНТ</h3>
      </div>
      <div class="similar-productTwo float-left">
        <img [src]="storkNestSwingCoWOutNetUrl" alt=""  width="150px">
        <h3>Люлка щъркелово гнездо 60 см - цветна (без мрежа)</h3>
  
      </div>
      <div class="similar-productThree float-left">
        <img [src]="storkNestSwing60CoWithNetUrl" alt="" width="150px">
        <h3>Люлка щъркелово гнездо 60 см - цветна (с мрежа)</h3>
      </div>
      <div class="similar-productFour float-left">
        <img [src]="storkNestSwing90CoWOutNetUrl" alt="" width="150px">
         <h3>Люлка щъркелово гнездо 90 см -цветна (без мрежа)</h3>
      </div>
  
    </div>
  </div>
  <footer>
    <div id="footer-text">
        <div id="footer-h2">
            <h2 class="text-xl">Координати за заявка</h2>

        </div>
    </div>
</footer>

