<div class="main-container">

    <div class="container float-left">
        <a routerLink="/storknestswing125giantwoutnet">
        <img [src]="nestswing125GiantUrl" alt="clouds">
        <p>Люлка за щъркелово гнездо 125 см - цветна (без мрежа) ГИГАНТ</p>
        </a>
    </div>
    
    <div class="container float-left">
        <img [src]="storkNestSwing125GiantUrl" alt="clouds">
        <p>Люлка за щъркелово гнездо 125 см - цветна (с мрежа) ГИГАНТ</p>
        
    </div>
    
    <div class="container float-left">
        <img [src]="storkNestSwingCoWOutNetUrl" alt="clouds">
        <p>Люлка за щъркелово гнездо 60 см - цветна (без мрежа)</p>
        
    </div>
    
    <div class="container float-left">
        <img [src]="storkNestSwing60CoWithNetUrl" alt="clouds">
        <p>Люлка за щъркелово гнездо 60 см - цветна (с мрежа)</p>
        
    </div>
    
    <div class="container float-left">
        <img [src]="storkNestSwing90CoWOutNetUrl" alt="clouds">
        <p>Люлка за щъркелово гнездо 90 см - цветна (без мрежа)</p>
        
    </div>
    
    <div class="container float-left">
        <img [src]="storkNestSwing90CoWithNetUrl" alt="clouds">
        <p>Люлка за щъркелово гнездо 90 см - цветна (с мрежа)</p>
        
    </div>
    
    <div class="container float-left">
        <img [src]="storkNestSwing90CoFineMeshUrl" alt="clouds">
        <p>Люлка за щъркелово гнездо 90 см - цветна фина мрежа</p>
        
    </div>
    
    <div class="container float-left">
        <img [src]="storkNestSwing90CoFineMeshRainbowUrl" alt="clouds">
        <p>Люлка за щъркелово гнездо 90 см - цветна фина мрежа RAINBOW</p>
        
    </div>
    
    </div>
    <router-outlet></router-outlet>
