* {
    box-sizing: border-box;
 }

.container {
    
    width: 220px;
    padding: 10px;
    margin: 10px;
}

.main-container {
    margin-top:50px;
    margin-right:100px;
}

.container img {
    text-align: center;
    width:  160px;
    height: 120px;
}
footer{
    height:150px;
}

#footer-text #footer-h2{
    float:left;
    margin-top:70px;
    margin-left: 1300px;
}

