<div class="main-container">

    <div class="container float-left">
        <a routerLink="/storknestswing125giantwoutnet">
        <img [src]="nestswing125GiantUrl" alt="clouds">
        <p>Люлка за щъркелово гнездо 125 см - цветна (без мрежа) ГИГАНТ</p>
        </a>
    </div>
    
    <div class="container float-left">
        <a routerLink="/storknestswing125giantwithnet">
            <img [src]="storkNestSwing125GiantUrl" alt="clouds">
            <p>Люлка за щъркелово гнездо 125 см - цветна (с мрежа) ГИГАНТ</p>    
        </a>
    </div>
    
    <div class="container float-left">
        <a routerLink="/storknestswing60cowoutnet">
            <img [src]="storkNestSwingCoWOutNetUrl" alt="clouds">
            <p>Люлка за щъркелово гнездо 60 см - цветна (без мрежа)</p>
        </a>
    </div>
    
    <div class="container float-left">
        <a routerLink="/storknestswing60cowithnet">
            <img [src]="storkNestSwing60CoWithNetUrl" alt="clouds">
            <p>Люлка за щъркелово гнездо 60 см - цветна (с мрежа)</p>
        </a>
    </div>
    
    <div class="container float-left">
        <a routerLink="/storknestswing90cowoutnet">
           <img [src]="storkNestSwing90CoWOutNetUrl" alt="clouds">
           <p>Люлка за щъркелово гнездо 90 см - цветна (без мрежа)</p>
        </a>
    </div>
    
    <div class="container float-left">
        <a routerLink="/storknestswing90cowithnet">
            <img [src]="storkNestSwing90CoWithNetUrl" alt="clouds">
            <p>Люлка за щъркелово гнездо 90 см - цветна (с мрежа)</p>
        </a>
    </div>
    
    <div class="container float-left">
        <a routerLink="/storknestswing90cofinemesh">
            <img [src]="storkNestSwing90CoFineMeshUrl" alt="clouds">
            <p>Люлка за щъркелово гнездо 90 см - цветна фина мрежа</p>
        </a>
    </div>
    
    <div class="container float-left">
        <a routerLink="/storknestswing90cofinemeshrainbow">
            <img [src]="storkNestSwing90CoFineMeshRainbowUrl" alt="clouds">
            <p>Люлка за щъркелово гнездо 90 см - цветна фина мрежа RAINBOW</p>
        </a>
    </div>
    
    <footer>
        <div id="footer-text">
            <div id="footer-h2">
                <h2 class="text-xl">Координати за заявка</h2>
    
            </div>
        </div>
    </footer>
 </div>
 <router-outlet></router-outlet>
