<div class="container">
    <div class="swings m-4 mx-96 my-50 mt-96">
        <a routerLink="">
        <img [src]="swingsImageUrl" alt="bocianie-gniazda.png">
        <br>
        <h2 class="text-4xl">Люлки</h2>
        </a>
    </div>
    <div class="consumable m-4 mx-96 my-50 mt-96">
        <a href="">
        <img [src]="consumableImageUrl" alt="hamaki.png">
        <br>
        <h2 class="text-4xl">Консумативи</h2>
         </a>
    </div>
</div>
<footer>
    <div id="footer-text">
        <div id="footer-h2">
            <h2 class="text-xl">Координати за заявка</h2>

        </div>
    </div>
</footer>
<router-outlet></router-outlet>
